.hidden {
    display: none;
}
.playerIcon {
    width: 35px;
    border-radius: 8px;
}

.Win {
    background-color: rgb(21, 170, 21);
}

.Fail {
    background-color: rgb(233, 39, 39);
}

.error-message-lol {
    color: #DC143C;
}