<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>Here you can share some of your ideas!</h1>
        </div>

        <form class="mx-auto half-width col-5" method="post" asp-controller="LOL" asp-action="AddNew">
            <div class="top-border-line primary-separator"></div>

            <label for="topic" class="suls-text-color">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title..." name="Title">

            <label for="text" class="suls-text-color">Content</label>
            <textarea name="Content" class="form-control" placeholder="Content..." cols="30" rows="5"></textarea>

            <label for="image" class="suls-text-color">Image Url</label>
            <input type="text" class="form-control" id="image" placeholder="Image Url..." name="Image">

            <div class="top-border-line primary-separator"></div>

            <button type="submit" class="btn forum-add-bg-color">Post!</button>
        </form>
    </div>
</div>
