<div class="row">
    <div class="jumbotron col-md-12">

        <div class="newsImage-box">
            <img class="newsImage-details" src="@Model.Image">
        </div>

        <div class="newImage-title-box">
            <div class="jtSCCa">
                <div class="crPSMM">
                    <h1 class="fCQbDk"> @Model.Title </h1>
                </div>
            </div>
            <div class="cRqIBK dYRCfL">
                <time class="dYaFx" datetime="2020-11-10T19:00:00.000Z" class="bRTHLn">5 days ago</time>
                <div class="gLkYks">
                    <span class="dhCzKp">
                        <span class="kZKxoP">Author</span>
                        <span class="QAuEs">@Model.AuthorUsername</span>
                    </span>
                </div>
            </div>
        </div>

        <p></p>

        <section class="cJORtJ">
            <div class="bQRKpI">
                @Model.Content
            </div>
        </section>

        <div class="button-holder">
            <a href="/LOL/Home" class="btn btn-info text-uppercase">Go Back</a>
        </div>

        <p></p>
    </div>
</div>
