<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>Welcome to the GOKO League of Legends matches app!</h1>
        </div>

        <h2> Here you can see your latest matches</h2>
        <div class="button-holder">
            <a href="/LOL/lolapp" class="btn btn-info text-uppercase">League Of Legends match viewer</a>
        </div>

        <p></p>

        <h2> Here is your collection of added games</h2>
        <div class="button-holder">
            <a href="/LOL/Collection" class="btn btn-info text-uppercase">Collection</a>
        </div>
    </div>
</div>
