<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>Welcome to the GOKO Roleplay info page!</h1>
        </div>

        <h2> Here you can see the server rules</h2>
        <div class="button-holder">
            <a href="/RP/Rules" class="btn btn-info text-uppercase">Rules</a>
        </div>

        <h2> Current Players in the server: @Model.PlayersCount</h2>
        <div class="button-holder">
            <a href="/RP/Players" class="btn btn-info text-uppercase">Player names</a>
        </div>
    </div>
</div>
