<div class="row">
    <div class="jumbotron col-md-12 p-4">
        <div class="heading-container bottom-buffer-md">
            <h1>Down below you can see the basic rules of Goko Roleplay</h1>
        </div>

        <p>
            1. С влизането в сървъра ЗАБРАВЯТЕ за думите и значението на думите "OUT OF ROLEPLAY". Има чат OOC (out ot character) който е предназначен точно за Out of RolePlay разговори.
        </p>

        <p>
            2. Задължително е да имате работещ микрофон.Викането , расизма , псуването и просташкото поведение е строго забранено.Пускането на музика през микрофона е забранено. Викането на микрофона (Ear Rape) е забранено.Ако искате да използвате Voice Changer, първо викнете админ да го одобри, защото е забранено да се използва voice changer, с който се чувате като робот и тн.
        </p>

        <p>
            3. Забранява се ForceRP и Vigilante RP,SuicideRP , TerrorismRP, Забранява се Respawn в RP, CopBait,Power punch
        </p>

        <p>
            4. Забранено е да се ABUSE-ват SAFE ZONE когато участваш в RP . Тоест да се криеш в апаратамент / тунинг гараж / районно / болница / банка /Главен Гараж / Автосалон /.
        </p>

        <p>
            5.Забранява се да чакате пред Safe зони, с цел ограбване или убиване на друг играч .
        </p>

        <p>
            6. Забранява се напускането на RP ситуация. Без изключения!
        </p>

        <p>
            7. Забранено е да се викат на сигнал , таксита , медици , механици , полицаи за да ги оберете , отвлечете или убиете !
        </p>

        <p>
            8. Забранено е да се убиват , ограбват и отвличат медици и полицаи НА СМЯНА .
        </p>

        <p>
            9. Забранява се да се представяте за част от #Staff или орган на реда ( Полицай , медик) освен ако не сте.
        </p>

        <p>
            10. Забранява се обирането , убиването и отвличането на един и същи играч в рамките на 2 часа.
        </p>

        <p>
            11. Забранено е да обирате / убивате друг играч при наличието на по-малко от 2 полицая.
        </p>

        <p>
            12. Забранено е когато обирате човек и той няма желаната от вас сума да го закарате до банка/банкомат за да изтегли пари.
        </p>

        <p>
            13. Забранява се показването на локации за наркотици или нелегални бизнеси и т.н) на стрийм , нито се вика медик ако сте пострадали !
        </p>

        <p>
            14. Забранява се да откраднете автомобилът на друг играч с цел да му свалите модификациите.
        </p>

        <p>
            15. При обир на банка , магазин , бижутерия , къща , отвличане и каквато и да било криминалнa дейност , нямате право да лъжете , че имате снайперисти , повече заложници , повече хора и като цяло всякакви лъжи от сорта на имаме хеликоптер / танк / изтребител . Бъдете честни за да не се разваля RP -то , защото и това може да се счете за power gaming.
        </p>

        <p>
            16. Забранено е да се правят измами с продажба на МПС и Апартаменти
        </p>

        <p>
            17. Забранено е да пускате бижутерия и да бягате веднага ! Задължително е да изчакате полицията за да направите RP !!
        </p>

        <div class="button-holder">
            <a href="/RP/Home" class="btn btn-info text-uppercase">Go back</a>
        </div>

    </div>
</div>
