<div class="row">
    <div class="jumbotron col-md-12" id="video-container">
        <div class="heading-container bottom-buffer-md">
            <h1>Welcome to the GOKO Roleplay info page!</h1>
        </div>

        <video id="video-background" class="video" autoplay="autoplay" onloadstart="this.volume=0.04">
            <source src="/videos/rpserver.mp4" type="video/mp4" />
            <button class='button'>Hui</button>
        </video>

        <h2> Here you can see the server rules</h2>
        <div class="button-holder">
            <a href="/RP/Rules" class="btn btn-info text-uppercase">Rules</a>
        </div>

        <h2> Here you can give your opinion for the server</h2>
        <div class="button-holder">
            <a href="/RP/Forum" class="btn btn-info text-uppercase">Forum</a>
        </div>

        <h2> Current Players in the server</h2>
        <div class="button-holder">
            <a href="/RP/Players" class="btn btn-info text-uppercase">Players</a>
        </div>

        <h2> Whitelist Applications </h2>
        <div class="button-holder">
            <a href="/RP/WhitelistApps" class="btn btn-info text-uppercase">Whitelite Applications</a>
        </div>


    </div>
</div>

<script src="~/js/rpvideo.js"></script>